@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    background: #e9e9e9;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------- NAVIGATION BAR ---------------------*/

#logo {
    max-width: 30%;
    padding-bottom: 5%;
}
.header {
    height:81px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.scrolled {
    background: rgba(0, 0, 0, 1); //NON-IE
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar.scrolled .navbar-nav>li>a:hover {
    color: #4b5fa3;
}
.navbar li {
    text-align: center;

}
.navbar li:last-child {
    /*border-right: 1px solid #49ad68;*/
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.nav-item:hover {
    background-color: black;
}
.visible-xs{
  margin-top:15px;
}

.navbar-brand {
  padding:0 0 0 0px;
  height: 70px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;

}

.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.nav-container{
  margin-right:-15px;
}
@media(max-width:1040px) {
    .header {
        height: 50px;
        padding-top: 0;
    }
    .header-logo {
        display: none;
    }
    .navbar-inverse .navbar-nav {
        padding-right: 0;
    }
}

@media(max-width:767px) {
    .header {
        height: 56px;
        padding-top: 0;
    }
    #navbar .nav-item {
        margin-left: 10%;
        width: 80%;
        text-align: center;
        border-bottom: 1px solid #4b5fa3;
        border-left: none;
        border-right: none;
    }
    #brand-name {
        display: block;
    }
    #navbar .nav-item:last-child {
        border-bottom: 0px;
    }
    .nav >li >a {
      padding-top: 5px;
      padding-bottom: 5px;

    }
}
@media(max-width:400px) {
    #brand-name {
        position: absolute;
        left: 0%;
        margin-left: 0px;
        color: white;
    }
}

/*---------------------- MAIN CONENTT AREA --------------------------*/

#content-panel {
    margin-top: 696px;
    margin-left: 0px;
    margin-right: 0px;
}
#main {
    margin-left: -15px;
    margin-right: 15px;
    background: white;
    margin-bottom: 15px;
}
.side {
    background: white;
}
.inner-side {
    background: white;
}
.affix {
    margin-left: -15px;
    top: 96px;
    background: white;
}
.affix-top {
    margin-left: -15px;
}
.affix-bottom {
    margin-left: -15px;
    position: absolute;
    background: white;
}
.offer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid #4b5fa3;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
@media(max-width:1007px) {
    .affix {
        position: static;
    }
    #main {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }
}

/*-------------------------- FOOTER -----------------------------*/

.footer {
    background: #4b5fa3;
    height: 215px;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);

}

#content{
  margin-top:15px;
}
