@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    background: #e9e9e9;
    font-family: 'Montserrat', sans-serif;
    width:100%;
}


.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

@media screen and (min-width:768px) {

    .img-left {
        float: left;
        margin-right: 25px;
    }
  }
p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}
/*--------------------- NAVIGATION BAR ---------------------*/

#logo {
    max-width: 30%;
    padding-bottom: 5%;
}
.header {
    height:81px;
}

.hero {
  background: url("../img/mad.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: -80px;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  .hero .tech-img {
    background: url("../img/slide-1.jpg") no-repeat center center;
    background-size: cover;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }
  @media only screen and (min-width: 40.063em) {
    .hero .tech-img {
      height: 45rem;
      width: 45rem; }
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem; }
    .hero p {
      text-align: right; }

    .hero button{
      display:block;
      margin-left:auto;
      margin-right:auto;
      }}




.navbar {
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
.navbar.scrolled {
    background: rgba(0, 0, 0, 1); //NON-IE
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar.scrolled .navbar-nav>li>a:hover {
    color: #4b5fa3;
}
.navbar li {
    text-align: center;

}
.navbar li:last-child {
    /*border-right: 1px solid #49ad68;*/
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.nav-item:hover {
    background-color: black;
}
.visible-xs{
  margin-top:15px;
}

.navbar-brand {
  padding:0 0 0 0px;
  height: 70px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;

}

.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.nav-container{
  margin-right:-15px;
}
@media(max-width:1040px) {
    .header {
        /*height: 50px;*/
        padding-top: 0;
    }
    .header-logo {
        display: none;
    }
    .navbar-inverse .navbar-nav {
        padding-right: 0;
    }
}

@media(max-width:767px) {
    .header {
        height: 56px;
        padding-top: 0;
    }
    #navbar .nav-item {
        margin-left: 10%;
        width: 80%;
        text-align: center;
        border-bottom: 1px solid #4b5fa3;
        border-left: none;
        border-right: none;
    }
    #brand-name {
        display: block;
    }
    #navbar .nav-item:last-child {
        border-bottom: 0px;
    }
    .nav >li >a {
      padding-top: 5px;
      padding-bottom: 5px;

    }
}
@media(max-width:400px) {
    #brand-name {
        position: absolute;
        left: 0%;
        margin-left: 0px;
        color: white;
    }
}

/*---------------------- MAIN CONENTT AREA --------------------------*/

#content-panel {
    /*margin-top: 696px;
    margin-left: 0px;
    margin-right: 0px;*/
}
#main {
    margin-left: -15px;
    margin-right: 15px;
    background: white;
    margin-bottom: 15px;
}
.side {
    background: white;
}
.inner-side {
    background: white;
}
.affix {
    margin-left: -15px;
    top: 96px;
    background: white;
}
.affix-top {
    margin-left: -15px;
}
.affix-bottom {
    margin-left: -15px;
    position: absolute;
    background: white;
}
.offer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-bottom: 1px solid #4b5fa3;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
@media(max-width:1007px) {
    .affix {
        position: static;
    }
    #main {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }
    #top{
      margin-bottom:50px;
    }
}

/*-------------------------- FOOTER -----------------------------*/

.footer {
    background: #4b5fa3;
    height: 215px;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);

}

#content{
  margin-top:15px;
}
